<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mohammad Amin Mahjoub">
    <meta name="keywords" content="Pomodoros,task,todo,progress,focus on todo">
    <meta name="description" content="This is training project to improve my skill">
    <link rel="stylesheet" href="./css/home.css">
    <title>Focus On Todo | Home</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="user-profile">
                <img src="../../img/amin-profile-img.jpg" alt="user profile picture" class="user-profile-picture">
                <p class="username">Amin</p>
                <div class="down-arrow-icon"></div>
                <div class="user-option-container">
                    <ul>
                        <li class="sync">
                            <div class="last-days-synced">Last Synced:<span class="sync-counter">24</span> days ago</div>
                            <div class="sync-now-option">Sync Now</div>
                        </li>
                        <li class="upgrade-premium">
                            <div class="premuim-period-remaining">Premuim Preiod Remaining:<span class="premuim-period-counter">24</span> days</div>
                            <div class="upgrade-premuim-option">Upgrade to Premuim</div>
                        </li>
                        <li class="acount-setting-option">Acount Settings</li>
                        <li class="sign-out-option">Sign Out</li>
                    </ul>
                </div>
            </div>

            <div class="header-option-pages">
                <a href="" class="premium-page-icon"></a>
                <a href="" class="report-page-icon"></a>
                <a href="" class="notfication-page-icon"></a>
                <a href="" class="setting-page-icon"></a>
            </div>
        </header>

        <main>
            <aside></aside>
        </main>
    </div>
</body>
</html>